/* Add your custom styles here */
.card-chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body{
  overflow: scroll;
  overflow-x: hidden;
}

.header-container {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

.message.sent {
  text-align: right;
}

.message.received {
  text-align: left;
}

.timestamp {
  font-size: 0.8em;
  color: #6c757d;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.avatar-small {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}